/* REFER VIDEO  */

.grid-container{
    background-color: indianred;
    padding: 20px;

    /* grid mai covert karne liye  */
    display: grid;

    /* inline-grid content ke size ke according jagh lega  */
    /* display: inline-grid; */
    
    /* column batane ke liye  */
    /* grid-template-columns: 200px 400px; */
    /* upar wale se uneven sa rahe ga  */

    /* apne according space leke evenly arrange kr dega 
     grid-template-columns: auto auto auto ... n tak lagate jao column bant jaenge*/
    
     /* grid-template-columns: auto auto auto; */

     /* grid-template-columns: auto 50% auto; */

     /* row ki height set karne ke liye  */
     /* grid-template-rows: 100px 200px auto ; */

     /* gap dene ke liye  */
     grid-column-gap: 10px;
     grid-row-gap: 10px;

     /* isko use karne se kafi sari space bach jaegi
     toh usko shi karne ke liye justigy content use kare */
     grid-template-columns: 200px 300px 200px;
     /* justify-content: start; */
     /* justify-content: end; */
     /* justify-content: center; */
     /* justify-content: space-between; */
     /* justify-content: space-around; */
     justify-content: space-evenly;

     /* isko use karne se sabki height bad rahi h  */
     height: 400px;
     /* toh usko shi karne ke liye align-content: ;use karo */
     /* align-content:start ; */
     /* align-content: end; */
     /* align-content: space-around; */
     align-content: space-evenly;
}

.grid-item{
    background-color: wheat;
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
/* merge karne ke liye  */
#grid-1{

  /* column merge  */
  /* grid-column-start: 1;
  grid-column-end: 3;   */

  /* short syntax  */
  /* grid-column: 1/3; */
  /* grid-column: 1 / span 3; */

  /* Row merge  */
  /* grid-row-start: 1;
  grid-row-end: 4; */
}

/* kisi bhi area ko merge karna ho  */
#grid-5{
    /* grid-area:1/2/3/4 ; */
    grid-area:1/2/span 2/ span 3   ;
}
