/* downloaded font family  */
@font-face {
    font-family: myFont;
    src: url("./7_font/Katerlin-51zjB.ttf");
}
h1{
    font-weight: 800;
}

p{
    /* font ka size */
    font-size: 30px;

    /* font kitna mota hoga  */
    /* font-weight: bold; */

    /* font ko style dena  */
    /* font-style: italic; */
    
    /* google font se font lene ho toh  */
    /* font-family: 'Poppins', sans-serif; */

    /* downloaded font family  */
    /* font-family: myFont; */

    /* agar humara downloaded font kharab ho zae toh uske backup */
    /* mai dusra font aise lagae  */
    font-family: myFont, 'Poppins', sans-serif;;
    
    /* font-weight: 600; */

    /* sare letter capital ho zata h  */
    /* font-variant: small-caps; */
}
